.card {
    display:grid;
    grid-template-columns: 10rem 1fr auto;
    grid-template-rows: 3rem 2fr 2rem;
    grid-template-areas:
    "image name add-button"
    "image description add-button"
    "image price add-button";
    height:10rem;
    padding: 10px 0px 10px 10px;
    margin:15px;
    color: White;
    background-color: #1c1b1b;
    border-radius: 5px;
    border-width: 1px;
    border-color: #1c1b1b;
    width: 50rem;
}
.add-to-cart-btn{
    grid-area: add-button;
    position: relative;
    left: 17rem;
    top: -1rem;
    justify-self: end;
    width: 25%;
    height: 100%;
    background-color: #1c1b1b;
    font-size: 1.2rem;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 8px;
}
.add-to-cart-btn:hover{
    background-color: #282719;
}
.add-to-cart-btn:active {
    transform: scale(0.98);
}
.card-name{
    grid-area: name;
    font-size:1.125rem;
    font-family: sans-serif;
}
.card-description{
    grid-area: description;
}
.card-image{
    grid-area: image;
    width:15rem;
    height:10rem;
    background-color: black;
    border-color: black;
    border-radius: 10px;
    border-width: 1px;
}
.card-price{
    grid-area: price;
}
