.left-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 15rem;
    height: 100%;
    z-index: 1000;
    background-color: #1c1b1b;
    display: flex;
    flex-direction: column;

}
.title{
    margin: 1rem;
    color: #e5e4e7;
    font-family: 'Prata', serif;
    font-size: 1.4rem;
    font-weight: bold;
}
.profile{
    margin-top: auto;
    padding-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    border-top: 1px solid #1f2028;
}